{% extends 'base.html.twig' %}

{% block header %}
{% include 'header.html.twig'  %}    
{% endblock %}
   
{% block content %}
    <!-- Main content -->
  
    <section class="content">
       {% for event in events %}
           {{event.name}}
       {%endfor%}
    
  </section>
 {% endblock %}   
 
 
 {% block footer %}    
  
{% include 'footer.html.twig'  %}  

 {% endblock %}   
 